* {
    box-sizing: border-box;
}
body {
    margin: 0; 
    padding: 0;
    font: 16px/20px microsft yahei;
}
.wrap {
    width: 100%;
    height: 400px;
    padding: 40px 0;
    position: fixed;
    top: 40%;
    margin-top: -200px;
    opacity: 0.8;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.container h1 {
    text-align: center;
    color: #000000;
    font-weight: 500;
}
.container input {width: 320px;
    display: block;
    height: 36px;
    outline: 0;
    padding: 6px 10px;
    margin: 32px auto;
    line-height: 16px;
    border: 1px solid #bbb;
    width: 75%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.container input[type="text"] , .container input[type="password"]  {
    background-color: #FFFFFF;
    font-size: 16px;
    color: rgb(71, 71, 71);
}
textarea {
    width: 320px;
    display: block;
    outline: 0;
    padding: 6px 10px;
    margin: 32px auto;
    line-height: 16px;
    border: 1px solid #bbb;
    width: 75%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: rgb(71, 71, 71);
}
.container input[type='submit'] {
    font-size: 16px;
    letter-spacing: 2px;
    color: #666666;
    background-color: #FFFFFF;
}
.container input[type='submit']:hover {
    cursor: pointer;
}

@keyframes square {
    0%  {
            -webkit-transform: translateY(0);
            transform: translateY(0)
        }
    100% {
            bottom: 400px;
            transform: rotate(600deg);
            -webit-transform: rotate(600deg);
            -webkit-transform: translateY(-500);
            transform: translateY(-500)
    }
}
@-webkit-keyframes square {
    0%  {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        bottom: 400px;
        transform: rotate(600deg);
        -webit-transform: rotate(600deg);
        -webkit-transform: translateY(-500);
        transform: translateY(-500)
    }
}