version: '3.7'

services:
  nginx:
    build: ./nginx/
    depends_on:
      - api_backend
      # - frontend
    restart: always
    ports:
      - "8080:80"
    environment:
      - NGINX_PORT=80
  
  api_backend:
    build: ./backend/
    depends_on:
      - db
    environment:
      - DB_URL=db
    restart: always
    networks:
      internal:

  db:
    image: mariadb:10.4
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=some_secure_pwd
      - MYSQL_USER=username
      - MYSQL_PASSWORD=password
      - MYSQL_DATABASE=test2
    volumes:
      - .data/mysql:/var/lib/mysql
    networks:
        internal:
    # This command is required to set important mariadb defaults
    command: [mysqld, --character-set-server=utf8mb4, --collation-server=utf8mb4_unicode_ci, --wait_timeout=28800, --log-warnings=0]
  
  # frontend:

networks:
  default:
  internal:
    internal: true